In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from sklearn import preprocessing
from collections import deque

In [2]:
main_dataframe = pd.DataFrame()

In [3]:
currencies = ['BCH-USD', 'BTC-USD', 'ETH-USD', 'LTC-USD']
for c in currencies:
    dataset = 'data/' + c + '.csv'
    df = pd.read_csv(dataset, names=['time', 'low', 'high', 'open', 'close', 'volume'])
    df.rename(columns={'close': c + '_close', 'volume': c + '_volume'}, inplace=True)
    df.set_index('time', inplace=True)
    df = df[[ c + '_close', c + '_volume']]
    if len(main_dataframe) == 0:
        main_dataframe = df
    else:
        main_dataframe = main_dataframe.join(df)

In [4]:
main_dataframe.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume
time,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,NaN,NaN,96.580002,9.647200
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978

In [5]:
main_dataframe.isnull().sum()

BCH-USD_close        0
BCH-USD_volume       0
BTC-USD_close     5122
BTC-USD_volume    5122
ETH-USD_close      195
ETH-USD_volume     195
LTC-USD_close      836
LTC-USD_volume     836
dtype: int64

In [6]:
main_dataframe.fillna(method='ffill', inplace=True)

In [7]:
main_dataframe.isnull().sum()

BCH-USD_close     0
BCH-USD_volume    0
BTC-USD_close     0
BTC-USD_volume    0
ETH-USD_close     1
ETH-USD_volume    1
LTC-USD_close     0
LTC-USD_volume    0
dtype: int64

In [8]:
main_dataframe.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume
time,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,NaN,NaN,96.580002,9.647200
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978

In [9]:
main_dataframe.fillna(method='bfill', inplace=True)

In [10]:
main_dataframe.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume
time,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,486.01001,26.019083,96.580002,9.647200
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978

In [11]:
main_dataframe.isnull().sum()

BCH-USD_close     0
BCH-USD_volume    0
BTC-USD_close     0
BTC-USD_volume    0
ETH-USD_close     0
ETH-USD_volume    0
LTC-USD_close     0
LTC-USD_volume    0
dtype: int64

In [12]:
main_dataframe['future'] = main_dataframe['LTC-USD_close'].shift(-3)

In [13]:
main_dataframe.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume,future
time,,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,486.01001,26.019083,96.580002,9.647200,96.500000
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024,96.389999
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799,96.519997
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067,96.440002
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978,96.470001

In [14]:
main_dataframe.tail()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume,future
time,,,,,,,,,
1535215020,531.479980,0.016868,6714.52002,1.002652,279.359985,8.790519,58.009998,7.301921,58.080002
1535215080,531.469971,0.013854,6714.52002,1.021925,279.369995,1.311763,58.020000,23.802017,58.090000
1535215140,531.479980,0.016900,6715.00000,3.645508,279.660004,11.752819,58.020000,6.953497,NaN
1535215200,531.479980,0.299520,6715.00000,0.513560,279.649994,8.351710,58.080002,202.403183,NaN
1535215260,531.630005,3.528913,6715.00000,0.513560,279.649994,10.511729,58.090000,160.602554,NaN

In [15]:
def compare(current, future):
    if future > current:
        return 1
    else:
        return 0
main_dataframe['target'] = list(map(compare, main_dataframe['LTC-USD_close'], main_dataframe['future']))

In [16]:
main_dataframe.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume,future,target
time,,,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,486.01001,26.019083,96.580002,9.647200,96.500000,0
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024,96.389999,0
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799,96.519997,0
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067,96.440002,0
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978,96.470001,1

In [17]:
times = sorted(main_dataframe.index.values)

In [18]:
len(times)

92225

In [19]:
int(0.1 * len(times))

9222

In [20]:
last_10pct = sorted(main_dataframe.index.values)[-int(0.1 * len(times))]

In [21]:
last_10pct

1534556340

In [22]:
main_dataframe_train = main_dataframe[(main_dataframe.index < last_10pct)]
main_dataframe_test = main_dataframe[(main_dataframe.index >= last_10pct)]

In [23]:
len(main_dataframe_train)

83003

In [24]:
len(main_dataframe_test)

9222

In [25]:
main_dataframe['BTC-USD_close']

time
1528968660    6489.549805
1528968720    6487.379883
1528968780    6479.410156
1528968840    6479.410156
1528968900    6479.979980
                 ...
1535215020    6714.520020
1535215080    6714.520020
1535215140    6715.000000
1535215200    6715.000000
1535215260    6715.000000
Name: BTC-USD_close, Length: 92225, dtype: float64

In [26]:
main_dataframe['BTC-USD_close'].pct_change()

time
1528968660         NaN
1528968720   -0.000334
1528968780   -0.001228
1528968840    0.000000
1528968900    0.000088
                ...
1535215020    0.000206
1535215080    0.000000
1535215140    0.000071
1535215200    0.000000
1535215260    0.000000
Name: BTC-USD_close, Length: 92225, dtype: float64

In [27]:
def preprocess_main_dataframe(df):
    df = df.drop('future', axis=1)
    for col in df.columns:
        if col != 'target':
            df[col] = df[col].pct_change()
            df.dropna(inplace=True)
            df[col] = preprocessing.scale(df[col].values)
    df.dropna(inplace=True)
    sequences = []
    prev_days = deque(maxlen=30)
    for i in df.values:
        prev_days.append([n for n in i[:-1]])
        if len(prev_days) == 30:
            sequences.append([np.array(prev_days), i[-1]])
    random.shuffle(sequences)
    buys = []
    sells = []
    for seq, target in sequences:
        if target == 0:
            sells.append([seq, target])
        elif target == 1:
            buys.append([seq, target])
    random.shuffle(buys)
    random.shuffle(sells)
    lower = min(len(buys), len(sells))
    buys = buys[:lower]
    sells = sells[:lower]
    sequential_data = buys + sells
    random.shuffle(sequential_data)
    X, y = [], []
    for seq, target in sequential_data:
        X.append(seq)
        y.append(target)
    return np.array(X), np.array(y)

In [28]:
train_X, train_y = preprocess_main_dataframe(main_dataframe_train)

In [29]:
len(main_dataframe_train)

83003

In [30]:
train_X.shape

(71030, 30, 8)

In [31]:
train_y.shape

(71030,)

In [32]:
np.unique(train_y, return_counts=True)

(array([0., 1.]), array([35515, 35515], dtype=int64))

In [33]:
test_X, test_y = preprocess_main_dataframe(main_dataframe_test)

In [34]:
test_X.shape

(7840, 30, 8)

In [35]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, BatchNormalization

In [37]:
model = Sequential()
model.add(LSTM(128, input_shape=(train_X.shape[1:]), return_sequences=True))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(LSTM(64, return_sequences=True))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(LSTM(32))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(32, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [38]:
model.compile(loss='sparse_categorical_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [ ]:
history = model.fit(train_X, train_y, batch_size=100, epochs=100, validation_data=(test_X, test_y))

Epoch 1/100
711/711 [==============================] - 68s 87ms/step - loss: 0.7057 - accuracy: 0.5149 - val_loss: 0.6937 - val_accuracy: 0.5218
Epoch 2/100
711/711 [==============================] - 62s 88ms/step - loss: 0.6930 - accuracy: 0.5260 - val_loss: 0.6889 - val_accuracy: 0.5361
Epoch 3/100
711/711 [==============================] - 65s 91ms/step - loss: 0.6893 - accuracy: 0.5388 - val_loss: 0.6827 - val_accuracy: 0.5536
Epoch 4/100
711/711 [==============================] - 63s 88ms/step - loss: 0.6871 - accuracy: 0.5459 - val_loss: 0.6830 - val_accuracy: 0.5617
Epoch 5/100
711/711 [==============================] - 66s 93ms/step - loss: 0.6845 - accuracy: 0.5549 - val_loss: 0.6798 - val_accuracy: 0.5670
Epoch 6/100
711/711 [==============================] - 68s 95ms/step - loss: 0.6839 - accuracy: 0.5573 - val_loss: 0.6801 - val_accuracy: 0.5638
Epoch 7/100
711/711 [==============================] - 68s 95ms/step - loss: 0.6815 - accuracy: 0.5624 - val_loss: 0.6784 - val_accuracy: 0.5673
Epoch 8/100
711/711 [==============================] - 72s 101ms/step - loss: 0.6810 - accuracy: 0.5639 - val_loss: 0.6782 - val_accuracy: 0.5659
Epoch 9/100
711/711 [==============================] - 73s 103ms/step - loss: 0.6789 - accuracy: 0.5693 - val_loss: 0.6796 - val_accuracy: 0.5643
Epoch 10/100
711/711 [==============================] - 68s 96ms/step - loss: 0.6777 - accuracy: 0.5716 - val_loss: 0.6805 - val_accuracy: 0.5638
Epoch 11/100
711/711 [==============================] - 66s 92ms/step - loss: 0.6760 - accuracy: 0.5758 - val_loss: 0.6795 - val_accuracy: 0.5658
Epoch 12/100
711/711 [==============================] - 66s 93ms/step - loss: 0.6740 - accuracy: 0.5810 - val_loss: 0.6796 - val_accuracy: 0.5653
Epoch 13/100
711/711 [==============================] - 70s 99ms/step - loss: 0.6715 - accuracy: 0.5841 - val_loss: 0.6837 - val_accuracy: 0.5612
Epoch 14/100
711/711 [==============================] - 73s 103ms/step - loss: 0.6684 - accuracy: 0.5914 - val_loss: 0.6807 - val_accuracy: 0.5643
Epoch 15/100
711/711 [==============================] - 69s 97ms/step - loss: 0.6647 - accuracy: 0.5993 - val_loss: 0.6871 - val_accuracy: 0.5636
Epoch 16/100
711/711 [==============================] - 71s 100ms/step - loss: 0.6602 - accuracy: 0.6036 - val_loss: 0.6902 - val_accuracy: 0.5534
Epoch 17/100
711/711 [==============================] - 73s 102ms/step - loss: 0.6544 - accuracy: 0.6116 - val_loss: 0.7034 - val_accuracy: 0.5464
Epoch 18/100
711/711 [==============================] - 76s 108ms/step - loss: 0.6492 - accuracy: 0.6201 - val_loss: 0.7054 - val_accuracy: 0.5540
Epoch 19/100
711/711 [==============================] - 70s 99ms/step - loss: 0.6439 - accuracy: 0.6280 - val_loss: 0.7147 - val_accuracy: 0.5469
Epoch 20/100
711/711 [==============================] - 68s 96ms/step - loss: 0.6369 - accuracy: 0.6334 - val_loss: 0.7204 - val_accuracy: 0.5430
Epoch 21/100
711/711 [==============================] - 70s 99ms/step - loss: 0.6295 - accuracy: 0.6455 - val_loss: 0.7295 - val_accuracy: 0.5356
Epoch 22/100
711/711 [==============================] - 68s 96ms/step - loss: 0.6253 - accuracy: 0.6475 - val_loss: 0.7453 - val_accuracy: 0.5306
Epoch 23/100
711/711 [==============================] - 66s 93ms/step - loss: 0.6167 - accuracy: 0.6565 - val_loss: 0.7349 - val_accuracy: 0.5292
Epoch 24/100
711/711 [==============================] - 68s 96ms/step - loss: 0.6115 - accuracy: 0.6629 - val_loss: 0.7560 - val_accuracy: 0.5376
Epoch 25/100
711/711 [==============================] - 71s 100ms/step - loss: 0.6031 - accuracy: 0.6711 - val_loss: 0.7709 - val_accuracy: 0.5362
Epoch 26/100
711/711 [==============================] - 70s 98ms/step - loss: 0.5961 - accuracy: 0.6764 - val_loss: 0.7910 - val_accuracy: 0.5272
Epoch 27/100
711/711 [==============================] - 71s 100ms/step - loss: 0.5902 - accuracy: 0.6818 - val_loss: 0.7778 - val_accuracy: 0.5390
Epoch 28/100
711/711 [==============================] - 72s 101ms/step - loss: 0.5827 - accuracy: 0.6902 - val_loss: 0.8072 - val_accuracy: 0.5235
Epoch 29/100
711/711 [==============================] - ETA: 0s - loss: 0.5778 - accuracy: 0.6907

In [ ]:
plt.plot(history.history['accuracy'], color='green')
plt.plot(history.history['val_accuracy'], color='red')